:root {
    font-family: system-ui, sans-serif;
}

h1, h2, h3, h4, h5 {
    /* Top, right, bottom, left */
    padding: 20px 10px 30px 10px;
    
    color: red;
    background-color: gray;

    height: 30px;
    width: 250px;
}

p {
    width: 90%;
    padding: 20px;
    background-color: lightslategrey;
    color: white;
}

p#parrafo2 {
    border-style: double;
    border-color: black;
}